body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-eb-garamond: "EB Garamond";
  --font-be-vietnam-pro: "Be Vietnam Pro";

  /* font sizes */
  --font-size-2xs: 11px;
  --font-size-smi-6: 12.6px;
  --font-size-mini-1: 14.1px;
  --font-size-lg-9: 18.9px;
  --font-size-mid-3: 17.3px;
  --font-size-23xl-4: 42.4px;
  --font-size-6xl: 25px;
  --font-size-15xl: 34px;
  --font-size-5xl-4: 24.4px;
  --font-size-xl: 20px;
  --font-size-3xs-4: 9.4px;
  --font-size-2xs-2: 10.2px;
  --font-size-xs-6: 11.6px;
  --font-size-43xl-9: 62.9px;
  --font-size-19xl: 38px;
  --font-size-31xl: 50px;

  /* Colors */
  --nexusio-nero: #fff;
  --nexusio-alabaster: #fafafa;
  --nexusio-shark: #27272a;
  --nexusio-woodsmoke: #18181b;
  --nexusio-woodsmoke1: #09090b;
  --nexusio-nero-97: rgba(255, 255, 255, 0.97);
  --nexusio-mine-shaft-9: rgba(33, 33, 33, 0.09);
  --nexusio-black-10: rgba(0, 0, 0, 0.1);
  --nexusio-black-russian-10: rgba(10, 0, 31, 0.1);
  --nexusio-mine-shaft-5: rgba(34, 34, 34, 0.05);
  --nexusio-nero-02: rgba(255, 255, 255, 0);
  --nexusio-black-russian-5: rgba(10, 0, 31, 0.05);
  --nexusio-nero-80: rgba(255, 255, 255, 0.8);
  --nexusio-nero-12: rgba(255, 255, 255, 0.12);
  --nexusio-silver-chalice: #ababab;
  --nexusio-santas-gray: #a1a1aa;
  --nexusio-jumbo: #71717a;
  --nexusio-scarpa-flow: #52525b;
  --nexusio-athens-gray1: #e5e7eb;
  --nexusio-iron: #e4e4e7;
  --nexusio-iron-56: rgba(230, 230, 232, 0.56);
  --nexusio-royal-blue: #525ce9;
  --nexusio-cerulean-blue: #323dd6;
  --nexusio-iron1: #d4d4d8;
  --nexusio-persian-blue: #1722be;
  --nexusio-stratos: #010542;
  --nexusio-link-water: #e1e2f6;
  --nexusio-moon-raker: #cccff3;
  --nexusio-ship-gray: #3f3f46;
  --nexusio-black: #000;
  --nexusio-green-haze: #ffaa22;
  --nexusio-amethyst: #bb66cc;
  --nexusio-scooter: #22ccdd;
  --nexusio-athens-gray: #f4f4f5;
  --nexusio-whisper: #f4f5f9;

  /* Gaps */
  --gap-12xl-5: 31.5px;
  --gap-base: 16px;
  --gap-28xl-1: 47.1px;
  --gap-5xl: 24px;
  --gap-12xl-4: 31.4px;
  --gap-4xs-8: 8.8px;
  --gap-smi-6: 12.6px;
  --gap-6xs-2: 6.2px;
  --gap-5xs-9: 7.9px;
  --gap-0: 0px;
  --gap-9xs-1: 3.1px;
  --gap-6xs-3: 6.3px;
  --gap-base-7: 15.7px;
  --gap-xl: 20px;
  --gap-lg-9: 18.9px;
  --gap-8xs-7: 4.7px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-12xl-4: 31.4px;
  --padding-12xs: 1px;
  --padding-12xs-6: 0.6px;
  --padding-9xs: 4px;
  --padding-smi-5: 12.5px;
  --padding-7xs: 6px;
  --padding-59xl-5: 78.5px;
  --padding-183xl: 202px;
  --padding-82xl: 101px;
  --padding-6xs: 7px;
  --padding-mid: 17px;
  --padding-9xs-5: 3.5px;
  --padding-4xs-3: 8.3px;
  --padding-5xs: 8px;
  --padding-59xl-6: 78.6px;
  --padding-base-7: 15.7px;
  --padding-32xl: 51px;
  --padding-sm: 14px;
  --padding-lgi: 19px;
  --padding-4xs: 9px;
  --padding-12xs-1: 0.1px;
  --padding-lg-8: 18.8px;
  --padding-lg-9: 18.9px;
  --padding-base: 16px;
  --padding-12xl: 31px;
  --padding-44xl: 63px;
  --padding-43xl-9: 62.9px;
  --padding-2xs: 11px;
  --padding-10xs-3: 2.3px;
  --padding-12xs-7: 0.7px;
  --padding-6xl: 25px;
  --padding-smi-6: 12.6px;
  --padding-56xl: 75px;
  --padding-18xl: 37px;
  --padding-14xl: 33px;
  --padding-9xs-8: 3.8px;
  --padding-15xl: 34px;
  --padding-26xl-8: 45.8px;
  --padding-6xl-1: 25.1px;
  --padding-6xs-3: 6.3px;
  --padding-8xs: 5px;
  --padding-6xs-2: 6.2px;
  --padding-9xs-2: 3.2px;
  --padding-9xs-1: 3.1px;
  --padding-11xs-3: 1.3px;
  --padding-lg: 18px;
  --padding-11xs: 2px;
  --padding-10xs-5: 2.5px;
  --padding-4xs-1: 8.1px;
  --padding-12xs-4: 0.4px;
  --padding-4xs-7: 8.7px;
  --padding-11xs-6: 1.6px;
  --padding-11xs-5: 1.5px;

  /* Border radiuses */
  --br-3xs-4: 9.4px;
  --br-smi-6: 12.6px;
  --br-15xl-6: 34.6px;
  --br-28xl-1: 47.1px;
  --br-766xl-6: 785.6px;
  --br-6xs-3: 6.3px;
  --br-8xs-7: 4.7px;
  --br-9xs-1: 3.1px;
  --br-base-7: 15.7px;
  --br-138xl-1: 157.1px;
  --br-4xs-7: 8.7px;
  --br-4xl-6: 23.6px;
}
